## Unidad 3
### Gutiérrez Morales Hugo Ariel

In [1]:
# Funciones

In [2]:
def mi_funcion_hola():
    print("Hola mundo, desde mi función")

In [3]:
mi_funcion_hola()

Hola mundo, desde mi función

In [8]:
# Esto es ineficiente, para esto sirven las funciones
# Tabla de multiplicar del 2
for z in range(1,11):
        print(2, "x", z, "=", 2 * z)

#Tabla de multiplicar del 3
for z in range(1,11):
        print(3, "x", z, "=", 3 * z)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [6]:
def tablas_multiplicar(x):
    for z in range(1,11):
        print(x, "x", z, "=", x * z)

In [7]:
tablas_multiplicar(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [9]:
tablas_multiplicar(800)

800 x 1 = 800
800 x 2 = 1600
800 x 3 = 2400
800 x 4 = 3200
800 x 5 = 4000
800 x 6 = 4800
800 x 7 = 5600
800 x 8 = 6400
800 x 9 = 7200
800 x 10 = 8000

In [10]:
def calcularDoble(qaz):
    qaz = qaz * 2
    return qaz

In [13]:
x = calcularDoble(3)
print(x)

6